<!DOCTYPE html>
<html>

<head>
  <title></title>

  <style>
.bs-callout-warning {
    border-left-color: #aa6708!important;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
</style>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
</head>

<body>
  <div id="dashboard">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li> <img id="logo" src="../images/logo2.png"></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-username"></span> Hello, [User Name]</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
            <div class="list-group">
              <a href="#" class="list-group-item active text-center">
                <h4 class="glyphicon glyphicon-posts"></h4><br />Posts
              </a>
              <a href="#" class="list-group-item text-center">
                <h4 class="glyphicon glyphicon-events"></h4><br />Events
              </a>
              <a href="#" class="list-group-item text-center">
                <h4 class="glyphicon glyphicon-people"></h4><br />Meet Neighbours
              </a>
              <a href="#" class="list-group-item text-center">
                <h4 class="glyphicon glyphicon-messages"></h4><br />Messages
              </a>
            </div>
            <!--List group-->
          </div>
          <!--B Menu-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <div class="bhoechie-tab-content active">
                <div id="community-image">
                  <img id='post-img' src="../images/community.png">
                </div>
                <h2 style="text-align: center;">Posts</h2>
                <div class="container blog glyphicon glyphicon-posts">
                  <div class="row">
                      <!--New post modal button-->
                      <button id="postBtn" class="btn-lg btn">Create Post</button>
                      <br/><br/>

                  </div>
                  <!--end row-->
                  <!--New post modal form-->
                  <div class="modal" id="postModal">
                    <div class="modal-content colcol-lg-4">
                      <form id="cms" name="cms">
                        <div class="form-group">
                          <label for="title">Title:</label> <input class="form-control" id="post-title" placeholder="Post Title"
                            type="text"><br>
                          <label for="body">Body:</label>
                          <textarea class="form-control" id="post-body" placeholder="Post Body" rows="10"></textarea>
                          <br>
                          <button class="btn btn-success submit" id="submit-post" type="submit">Submit</button> <button
                            class="btn btn-info" id="postClose">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div><!-- Posts -->

                <div class="bs-callout bs-callout-warning">
                  <h4>Posts by: Anne</h4>
                </div>
<!--                 <div id="showPosts">
 -->                  <ul class="list-group" id="post-list">
                    <li style="list-style: none">{{#each Posts}}</li>
                    <li class="list-group-item" data-id="{{this.id}}">
                      <p>{{this.postTitle}}</p>
                      <p>{{this.postBody}}</p>
                      <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    <li style="list-style: none">{{/each}}</li>
                  </ul>
<!--                 </div>
 -->            </div> <!-- post tab div ends -->
            <div class="bhoechie-tab-content">
              <center>
                <hr>
                <h2>Events</h2>
                <div id="map"></div>
                <div class="row">
                  <div class="col-lg-3 offset-3">
                    <button id="addEventBtn">Add an Event</button> <!-- The Modal -->
                    <div id="addEventModal">
                      <!-- Modal content -->
                      <div class="modal-content col-lg-3">
                        <span id="addEventClose">&times;</span>
                        <form action="POST" class="clearfix mb-4">
                          <div class="form-group">
                            <label for="event-name">New Event</label> <input aria-describedby="event-name" class="form-control"
                              id="event-name" placeholder="Enter New Event" type="text">
                          </div>
                          <div class="form-group">
                            <label for="event-type">Event Type</label> <input aria-describedby="event-type" class="form-control"
                              id="event-type" placeholder="Enter Event Type">
                          </div>
                          <div class="form-group">
                            <label for="event-description">Event Description</label>
                            <textarea aria-describedby="event-description" class="form-control" id="event-description"
                              placeholder="Enter Event Description"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="event-location">Event Location</label> <input aria-describedby="event-location"
                              class="form-control" id="event-location" placeholder="Enter Event Location">
                          </div><button class="btn btn-primary float-right" id="submit-event">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>

<!-- removing code for list view
                  <div id="showEvents">
                    <ul class="list-group" id="events-list">
                      <li style="list-style: none">{{#each Events}}</li>
                      <li class="list-group-item" data-id="{{this.id}}">
                        <p>{{this.eventName}}</p>
                        <p>{{this.eventType}}</p>
                        <p>{{this.eventDescription}}</p>
                        <p>{{this.eventLocation}}</p><button class="btn btn-danger float-right delete">ｘ</button>
                      </li>
                      <li style="list-style: none">{{/each}}</li>
                    </ul>
                  </div>

--->

                  <div class="col-lg-3">
                    <!-- Trigger/Open The Modal -->
                    <button id="allEventsBtn">View All Current Events</button> <!-- The Modal -->
                    <div class="modal" id="allEventsModal">
                      <!-- Modal content -->
                      <div class="modal-content col-lg-4">
                        <span id="allEventsClose">&times;</span>
                        <ul class="list-group" id="events-list">
                          <li style="list-style: none">{{#each Events}}</li>
                          <li class="list-group-item" data-id="{{this.id}}">
                            <p>{{this.eventName}}</p>
                            <p>{{this.eventType}}</p>
                            <p>{{this.eventDescription}}</p>
                            <p>{{this.eventLocation}}</p><button class="btn btn-danger float-right delete">ｘ</button>
                          </li>
                          <li style="list-style: none">{{/each}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div> <!-- div events -->
              </center>
            </div>


            <div class="bhoechie-tab-content">
              <div class="container blog glyphicon glyphicon-people">
                <div class="row">

                  <section id="team" class="pb-5">
                    <div class="container" id="people">
                      <h5 class="section-title h1">Meet your Neighbours! </h5>
                      <div class="row">
                        <!-- Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/anne.jpg" alt="card image"></p>
                                    <h4 class="card-title">Anne Simon </h4>
                                    <p class="card-text">UI Developer </p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anne Simon</h4>
                                    <p class="card-text">Likes to eat, favourite food is everything.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Community member -->
                        <!--  Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/anum.jpeg" alt="card image"></p>
                                    <h4 class="card-title">Anum Shabbir</h4>
                                    <p class="card-text">Quality Assurance Engineer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anum Shabbir</h4>
                                    <p class="card-text">Likes to travel, favourite food is Sushi</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ./Community member -->
                        <!-- Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/johnny.jpg" alt="card image"></p>
                                    <h4 class="card-title">Johnny Neagoe</h4>
                                    <p class="card-text">Accountant</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Johnny Neagoe</h4>
                                    <p class="card-text">Likes to visit historic places, favourite food is Pizza</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ./Community member -->
                        <!-- Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/stephen.jpg" alt="card image"></p>
                                    <h4 class="card-title">Stephen Dawe</h4>
                                    <p class="card-text">Program Manager</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Stephen Dawe</h4>
                                    <p class="card-text">Likes to workout, favourite food is Burgers</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ./Community member -->
                        <!-- Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/professor.jpg" alt="card image"></p>
                                    <h4 class="card-title">Charles Xavier</h4>
                                    <p class="card-text">Professor</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Charles Xavier</h4>
                                    <p class="card-text">Likes to do yoga early morning</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Community member -->
                        <!-- Community member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                              <div class="frontside">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg"
                                        alt="card image"></p>
                                    <h4 class="card-title">Sara Pryer</h4>
                                    <p class="card-text">Pilot</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">Likes to visit family and do gardening</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> <!-- ./Community member -->

                      </div>
                    </div>
                  </section>















                </div>
              </div>
            </div>

            <div class="bhoechie-tab-content">
              <div class="container blog glyphicon glyphicon-messages">
                <div id="community-image">
                  <img id='tab-img' src="../images/comingsoon.jpg">
                </div>
              </div>
            </div>



          </div>
          <!--BT container  ends--->
        </div>
        <!--row div ends -->
      </div>
      <!--container div ends-->
    </div>
    <!--dashboard div ends--->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC83gYW2lRHk0-0EYyDuaC-NXsDWarTXEI&libraries=places&callback=initialize"></script>
</body>

</html>