<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
        <p>
            <strong>ID</strong>: {{events.id}}</p>
        <p>
        <p>
            <strong>Event</strong>: {{events.description}}</p>
        <p>
        <p>
            <strong>Type</strong>: {{events.eventName}}</p>
        <p>
        <p>
            <strong>Location</strong>: {{events.eventLocation}}</p>
        <p>
        <p>
            <strong>Author</strong>: {{events.text}}</p>
        <p>
        <p>
            <strong>Comments</strong>: {{Events.eventComments}}</p>
        <p>
            <strong>Description:</strong> {{Events.eventDescription}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>