<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
        <p>
            <strong>ID</strong>: {{event.id}}</p>
        <p>
        <p>
            <strong>Event</strong>: {{event.eventName}}</p>
        <p>
        <p>
            <strong>Description</strong>: {{event.eventDescription}}</p>
        <p>
        <p>
            <strong>Location</strong>: {{event.eventLocation}}</p>
        <p>
        <p>
            <strong>Comments</strong>: {{event.eventComments}}</p>
        <p>
            <strong>Type:</strong> {{event.eventType}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>